<ul class="navbar-nav mr-auto d-flex flex-row justify-content-between align-items-center" >
  <% if (!user) { %>
  <li class="nav-item">
    <a class="nav-link ContactBtn pop-on-hover" href="mailto:{{info@autobong.com}}">CONTACT US</a>
  </li>
  <% } %>
</ul>

<% if (user) { %>
<a class="btn btn-outline-primary my-2 my-sm-0 px-4 py-2 pop-on-hover" style="color: white; font-weight: 500; font-size: 18px;" href="logout">Logout</a>
<% } %>
