<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="AUTOBONGS">
    <meta name="author" content="Zoran Šaško">
    <title>AUTOBONGS: Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation: Start -->
    <nav class="d-flex justify-content-between fixed-top">
      <a class="navbar-brand" style="font-size: 38px; font-weight: 700; font-family: Rubik Doodle Shadow; color: #FFFFFF; padding: 20px;" href="#">AUTOBONGS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex justify-content-between align-items-center gap-4">
        <%- include('partials/menu', {user: user}); %>
      </div>
    </nav>
    <!-- Navigation: End -->
    <!-- <video autoplay muted loop id="myVideo">
      <source src="/assets/animated.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video> -->
    <main role="main" class="content">
      <div class="text-white position-relative">
        <div class="" style="background: url('/assets/smoke2.png');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;">
        <div style="background-color: #000000; opacity: 60%; width: 100%; height: 100%; position: absolute; top: 0;"></div>
              <div class="container-fluid d-flex flex-column justify-content-center align-items-center text-white px-4 px-sm-0" style="height: 100vh; position: relative; z-index: 2;">
                <h1 class="display-4 mb-4 mb-sm-5 headline-text" style="text-shadow: 5px 3px 5px #1e1e1e; letter-spacing: 20px;  text-transform: uppercase; font-weight: 900;">AutoBongs</h1>
                <p class="lead text-center mb-4 mb-sm-5 paragraph-text" style="text-shadow: 5px 3px 5px #000000; letter-spacing: 1px; max-width: 650px; font-weight: 500;">
                    Autobongs is an innovative and optimized ecommerce platform for devices and accessories used in the enjoyment of cannabis, nicotine, and functional mushrooms.
                </p>
             <div class="AuthBtn">
               <a  href="login" class="text-decoration-none">
              <button class="btn SignInBtn text-white"  style="font-size: 18px; font-weight: 600;">
                  Login
                </button>
              </a>
            <a  href="register" class="text-decoration-none">
              <button class="btn SignUpBtn text-white"  style="font-size: 18px; font-weight: 600;">
                  Sign Up
                </button>
              </a>
             </div>
                <span class="text-center fixed-bottom mb-4">
                    All Right Reserved - © Copyright Autobongs 2023
                </span>
            </div>
            </div>
      </div>
    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
</html>
